name: Issue Triage
on:
  issues:
    types: [labeled]
    
jobs:
  assign_to_project:
    runs-on: ubuntu-latest
    name: Assign labelled issues to projects
    steps:
      - name: Assign to project
        uses: richkuz/github-actions/project-assigner@v2.1.0
        id: project_assigner
        with:
          issue-mappings: '[{"label": "project", "projectNumber": "1", "columnName": "To do", "projectScope": "user"}]'
          ghToken: ${{ secrets.MY_GITHUB_ACTIONS_TOKEN }}
